asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap5==0.7
Django==4.2.4
django-crispy-forms==2.0
idna==3.4
nba-api==1.2.1
nbaHeadshots==0.0.1
numpy==1.24.4
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
