asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.1
crispy-bootstrap5==0.7
cycler==0.12.1
Django==4.2.4
django-crispy-forms==2.0
fonttools==4.43.1
idna==3.4
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
nba-api==1.2.1
nbaHeadshots==0.0.1
numpy==1.24.4
packaging==23.2
pandas==2.0.3
Pillow==10.1.0
psycopg==3.2.1
psycopg-binary==3.2.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2024.1
urllib3==2.0.4
whitenoise==6.7.0
zipp==3.17.0