                <div class="col-md-4 d-flex flex-column justify-content-center"  id="player-bio">
                    <h1 class="card-title" style="color: #b4513e;">{{ player_full_name }} #{{ player_bio.number }}</h1>
                    <h6><b>School:</b> {{ player_bio.education }} | <b>Country:</b> {{ player_bio.country }}</h6>
                    <h6><b>Height:</b> {{ player_bio.height }} | <b>Weight:</b> {{ player_bio.weight }}</h6>
                    <h6><b>Year:</b> {{ player_bio.year }}</h6>
                    <h6><b>Position:</b> {{ player_bio.position }} | <b>Status:</b> {{ player_bio.status }}</h6>
                    <h6><b>PPG:</b> {{ player_bio.PTS }} | <b>RPG:</b> {{ player_bio.REB }} | <b>APG:</b> {{ player_bio.AST }}</h6>
                    <button class="btn btn-outline-success mt-3"
                            hx-get="{% url 'nba_stats:update_player_bio' player_id=player_id player_name=player_full_name %}"
                            hx-target="#player-bio"
                            hx-swap="outerHTML"
                            hx-trigger="click">
                        Update Bio
                    </button>
                </div>