                <div class="col-md-4 d-flex flex-column justify-content-center" id="player-awards">
                    <h4>Career Awards</h4>
                    <hr>
                    {% if player_awards %}
                        <ul>
                            {% for award, count in player_awards.items %}
                                <li>{{ award }} x {{ count }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <li>No Career Awards For {{ player_name }} :(</li>
                    {% endif %}
                    <button class="btn btn-outline-success mt-3"
                        hx-get="{% url 'nba_stats:update_player_awards' player_id=player_id player_name=player_name %}"
                        hx-target="#player-awards"
                            hx-swap="outerHTML"
                            hx-trigger="click">
                        Show Awards
                    </button>
                </div>