{% extends 'base.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% block title %}
{{ player_full_name }} Stat Totals
{% endblock %}

{% block content %}
 <div class="container mt-4">
        <!-- Player Image and Name Section -->
        <div class="row">
            <div class="col-md-4" style="background-color: {{ player_headshot.1 }}">
                <a href="{% url 'nba_stats:player_details' player_full_name=player_full_name player_id=player_id %}">
                    <img src="{{ player_headshot.0 }}" alt="Player Image" class="img-fluid">
                </a>

            </div>
            <div class="col-md-4">
                <h1>{{ player_full_name }}</h1>
                <h6><b>School:</b> {{ player_bio.education }} | <b>Country:</b> {{ player_bio.country }}</h6>
                <h6><b>Height:</b> {{ player_bio.height }} | <b>Weight:</b> {{ player_bio.weight }}</h6>
                <h6><b>Year:</b> {{ player_bio.year }} | <b>Number:</b> {{ player_bio.number }}</h6>
                <h6><b>Position:</b> {{ player_bio.position }} | <b>Team:</b> {{ player_bio.team }}</h6>
                <h6><b>Status:</b> {{ player_bio.status }}</h6>
                <h6><b>PPG:</b> {{ player_bio.PTS }} | <b>RPG:</b> {{ player_bio.REB }} | <b>APG:</b> {{ player_bio.AST }}</h6>
            </div>
            <div class="col-md-4" style="background-color: {{ player_headshot.1 }}">
                <h4 style="color: white;">Career Awards</h4>
                <hr>
                {% if player_awards %}
                    <ul>
                        {% for award, count in player_awards.items %}
                        <li style="color: white;">{{ award }} x {{ count }}</li>
                        {% endfor %}
                            </ul>
                {% else %}
                        <li style="color: white;">No Career Awards For {{ player }} :(</li>
                {% endif %}
            </div>

            </div>
        </div>

        <!-- Player Details Table -->
        <div class="row">
        <div class="col-md-12"> <!-- Use col-md-12 to take the full width of the container -->
            <h2 class="mt-4">Career Totals</h2>
            <div class="table-responsive">
                <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>Points</th>
                    <th>Assists</th>
                    <th>Blocks</th>
                    <th>Steals</th>
                    <th>Rebounds</th>
                    <th>Defensive Rebs</th>
                    <th>Offensive Rebs</th>
                    <th>3pt Attempts</th>
                    <th>3pt Makes</th>
                    <th>3pt %</th>
                    <th>FG Attempts</th>
                    <th>FG Makes</th>
                    <th>FG %</th>
                    <th>FT Attempts</th>
                    <th>FT Makes</th>
                    <th>FT %</th>
                    <th>Turnovers</th>
                    <th>Games Played</th>
                    <th>Games Started</th>
                    <th>Minutes</th>
                </tr>
            </thead>
            <tbody>
            {% for season_data in player_stats %}
                <tr>
                    <td>{{ season_data.PTS|intcomma }}</td>
                    <td>{{ season_data.AST|intcomma }}</td>
                    <td>{{ season_data.BLK|intcomma }}</td>
                    <td>{{ season_data.STL|intcomma }}</td>
                    <td>{{ season_data.REB|intcomma }}</td>
                    <td>{{ season_data.DREB|intcomma }}</td>
                    <td>{{ season_data.OREB|intcomma }}</td>
                    <td>{{ season_data.FG3A|intcomma }}</td>
                    <td>{{ season_data.FG3M|intcomma }}</td>
                    <td>{{ season_data.FG3_PCT|percentage }}</td>
                    <td>{{ season_data.FGA|intcomma }}</td>
                    <td>{{ season_data.FGM|intcomma }}</td>
                    <td>{{ season_data.FG_PCT|percentage }}</td>
                    <td>{{ season_data.FTA|intcomma }}</td>
                    <td>{{ season_data.FTM|intcomma }}</td>
                    <td>{{ season_data.FT_PCT|percentage }}</td>
                    <td>{{ season_data.TOV|intcomma }}</td>
                    <td>{{ season_data.GP|intcomma }}</td>
                    <td>{{ season_data.GS|intcomma }}</td>
                    <td>{{ season_data.MIN|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
     <br><br>
     <div class="container">
         <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-lg" type="submit">More Stats!</button>
    </form>
     </div>
{% endblock %}