{% extends 'base.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% block title %}
{{ player1_full_name }} & {{ player2_full_name }} Visual
{% endblock %}

{% block content %}
<h1>Player Comparison</h1>

    <div style="display: flex; justify-content: space-between;">
        <div>
            <br>
            <a href="{% url 'nba_stats:player_details' player_full_name=player2_full_name player_id=player2_id %}">
                <img src="{{ player1_headshot.0 }}" alt="{{ player1_full_name }} Headshot" style="background-color:#f5f5e8;"  class="rounded-circle img-fluid" width="250" height="125">
            </a>
            <br>
            <h2 class="align-items-center" style="color: #563517;">{{ player1_full_name }}</h2>
        </div>

        <div>
            <br>
            <a href="{% url 'nba_stats:player_details' player_full_name=player2_full_name player_id=player2_id %}">
                <img src="{{ player2_headshot.0 }}" alt="{{ player2_full_name }} Headshot" style="background-color:#f5f5e8;"  class="rounded-circle img-fluid" width="250" height="125">
            </a>
            <br>
            <h2 class="align-items-center" style="color: #563517;">{{ player2_full_name }}</h2>
        </div>
    </div>
<br><br>
<div class="text-center">
    <img src="data:image/png;base64,{{ graph }}" alt="graph" style="max-width: 100%; height: auto;">
</div>


{% endblock %}

