{% extends 'base.html' %}
{% load static %}
{% block title %}
Search Player
{% endblock %}
{% block content %}
<br>
    <div class="container">
        <h1>Enter a Player's Name</h1>
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}<button type="submit" class="btn btn-primary btn-sm">Search Player</button>
                </form>
            </div>
            <div  class="col-md-6">
                <img src="{% static 'images/nose-players.png' %}" class="img-fluid" alt="Feature 2">
            </div>
        </div>
    </div>
{% endblock %}