{% extends 'base.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% block title %}
{{ player_full_name }} {{ category }} Graph
{% endblock %}

{% block content %}
 <div class="container mt-4">
        <!-- Player Image and Name Section -->
        <div class="row">
            <div class="col-md-4" style="background-color:#fffdd0;">
                <h4>{{ player_full_name }} #{{ player_bio.number }}</h4>
                 <hr>
                <a href="{% url 'nba_stats:player_details' player_full_name=player_full_name player_id=player_id %}">
                    <img src="{{ player_headshot.0 }}" alt="Player Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 align-items-center">
                <h1 style="color: #b4513e;">{{ player_full_name }}</h1>
                <h6><b>School:</b> {{ player_bio.education }} | <b>Country:</b> {{ player_bio.country }}</h6>
                <h6><b>Height:</b> {{ player_bio.height }} | <b>Weight:</b> {{ player_bio.weight }}</h6>
                <h6><b>Year:</b> {{ player_bio.year }} | <b>Number:</b> {{ player_bio.number }}</h6>
                <h6><b>Position:</b> {{ player_bio.position }} | <b>Status:</b> {{ player_bio.status }}</h6>
                <h6><b>PPG:</b> {{ player_bio.PTS }} | <b>RPG:</b> {{ player_bio.REB }} | <b>APG:</b> {{ player_bio.AST }}</h6>
            </div>
            <div class="col-md-4" style="background-color:#fffdd0;">
                <h4 style="color: #563517;">Career Awards</h4>
                <hr>
                {% if player_awards %}
                    <ul>
                        {% for award, count in player_awards.items %}
                        <li>{{ award }} x {{ count }}</li>
                        {% endfor %}
                            </ul>
                {% else %}
                        <li>No Career Awards For {{ player }} :(</li>
                {% endif %}
            </div>

            </div>
        </div>
<div class="text-center">
    <img src="data:image/png;base64,{{ graph }}" alt="graph" style="max-width: 100%; height: auto;">
</div>
{% endblock %}