.jumbotron {
    background-color: #f8f9fa;
    padding: 150px 0;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 24px;
    margin-bottom: 40px;
}

.col-md-6 {
    margin-bottom: 30px;
}

.col-md-6 img {
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.col-md-6 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-6 p {
    font-size: 18px;
}
