{% extends 'base.html' %}
{% load static %}
{% block title %}
About ShotGeek
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
            <h1>About ShotGeek</h1>
            <hr>
            <br>
            <p>
                Welcome to ShotGeek, a basketball companion app designed for fans and enthusiasts who enjoy peaking into the numbers and share an appreciation for the history of the game. We strive to merge our passion for the game with data-driven insights, allowing fans to easily explore up-to-date NBA statistics, player comparisons, and team performances.
            </p>
            <p>
                ShotGeek is tailored to offer a convenient and comprehensive breakdown of your favorite players and teams. Delve into detailed player trends, and team data from across the NBA's past and present all in one place.
            </p>
            <h3>For Basketball Lovers, By Basketball Lovers:</h3>
            <p>If you'd like to support, partner with or simply send the ShotGeek team a message, please email us at <b><i>info@shotgeek.com</i></b></p>
        </div>

        <!-- Image Section -->
        <div class="col-md-6">
            <img src="{% static 'images/about.png' %}" alt="About ShotGeek" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
