<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/banner/logo.png' %}" alt="Logo" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'nba_news:ringer_news' %}">NBA NEWS</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'nba_stats:player_search' %}">NBA STATS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <br>
    <hr>
    {% block content %}
    {% endblock %}
</div>
<br><br><br><br><br>
<footer class="footer mt-auto py-3 bg-light bg-white">
    <div class="container text-center">

        <img src="{% static 'images/banner/logo.png' %}" alt="Footer Logo" height="30">
        <p>Developed By Kudzayi Bamhare 2023. &copy; 2023 Nosebleed Section. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>






